# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules/
build/
generated/

.DS_Store
.env
.env.local

.vscode/

.yarn.lock
.yarn-error*

# need to be selectd per chain
subgraph.template.yaml
subgraph.yaml
src/utils/constants.ts
tests/.bin